.title{
    font-family: 'Shrikhand', cursive;

}

a.aTitle {
    color: rgb(255 0 0);
    text-shadow: 3px 0 white;
    letter-spacing: 5px;
    text-decoration: none;
}
a.aTitle:hover {
    color: #0df70d;
}
.entry{
    font-family: 'Montserrat', sans-serif;
    color:black;
    border:solid 1px;
    border-radius: 4px;
    background-color: #8e8e8e70;
    padding: 2px;
    
}
a.entry:hover {
    background-color:  #0df70d;
}